body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}


nav{
    padding: 5px 0;
    background-color: #817c7c;
    width: 100%;
    display: flex;
      justify-content:flex-end;
}
nav ul{
    display: flex;
    flex-direction: row-reverse;
       width: 100%;

      justify-content:space-evenly;
    list-style-type: none;

}
li a{
    text-decoration: none;
    color: #ffffff;
}

li a:hover{
 text-decoration: #ecadad underline;
    color: #f6d1a3;

}


.services-container {
  max-width: 900px;
  margin: auto;
  direction: rtl;
}

h1 {
  color: #b22222;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #444;
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
}

th {
  background-color: #e6e6e6;
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tr:hover td {
  background-color: #fff3cd;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "• ";
  color: #b22222;
  font-weight: bold;
}
