*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #6c6969;
    color: #0b0806;
    display: flex;
    flex-direction: column;
    text-align: center;
       background-image:url('p1.jpg');
    background-size: cover;
    background-position: center;

  max-width: 100%;
  overflow: hidden;

}
h1{
    background-color: rgba(55, 46, 22, 0.76);
    padding: 20px;
    color: #f6bf79;
        width: 100%;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(67, 65, 65);
    padding: 10px;
     list-style-type: none;

}
nav ul  a{
    text-decoration: none;
    color: #e3811f;
}

nav ul   :hover{
    text-decoration: darksalmon underline;
    color: #f8a135;
}

.input-content{


      display: flex;
     margin: 50px;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.main_input{
    margin: 20px 0;
    padding: 20px 0;
   background-color: rgba(185, 211, 234, 0.47);
   /* filter: blur(px);*/
       width: 30%;
        height: 50%;



}
#experience,#name,#city,#rating{
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
}
